//color cube

$White: #ffffff;
$Black: #030303;
$Tundora: #434343;
$Gunsmoke: #858786;
$Ecstasy: #f76210;
$GoldenDream: #efd43f;
$MagicMint: #95f1be;
$Turquoise: #30cfc3;
$PersianBlue: #223bcb;
$Lima: #78e733;

//median cut

$GrayNurse: #e3e4e2;
$Shark: #161c1d;
$SpicyMix: #875f4a;
$Sundance: #c8af56;
$PuertoRico: #38c3a0;

//material design 

$Tango: #eb621f;
$FlaxSmoke: #7e876a;
$CeruleanBlue: #245560;
$Nandor: #495653;
$Starship: #ece046; 
